@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400&display=swap');

html {
	font-size: 20px;
}

body {
	font-family: 'Lato', sans-serif;
}

#svelte {
	overflow: hidden;
}

.ql-toolbar {
	border: none;
}
