@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400&display=swap');

html {
	font-size: 20px;
}

body {
	font-family: 'Lato', sans-serif;
	color: #282828;
}

#svelte {
	overflow: hidden;
}

.ql-toolbar {
	border: none;
}

h1 {
	font-size: 2rem;
	margin: 2rem 0 1rem 0;
}

h2 {
	font-size: 1.5rem;
	margin: 1.5rem 0 0.5rem 0;
}

h3 {
	font-size: 1.2rem;
	margin: 1rem 0 0.2rem 0;
}
